.filter {
    display: flex;
}

.tab {
    
}

.opt {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 300px;
    overflow: auto;
    padding: 12px;
}

.activated {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 300px;
    overflow: auto;
    padding: 12px;
}

.saveBtn {
    padding-top: 20px;
    margin-top: auto;
}

.saveBtn button {
    width: 100%;
}