.filter-opt {
    display: flex;
}

.tab {
    
}

.opt {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 220px;
    overflow: auto;
    padding: 12px;
}

.filter-origin {
    display: flex;
}

.origin {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 220px;
    overflow: auto;
    padding: 12px;
}

.filter-activated {
    display: flex;
}

.activated {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 220px;
    overflow: auto;
    padding: 12px;
}

.saveBtn {
    padding-top: 20px;
    margin-top: auto;
}

.saveBtn button {
    width: 100%;
}

.btns {
    display: flex;
}
.btns button {
    width: 50%;
}